#footer{
   
    display: grid;

    grid-template-columns: 1fr;

    background-color: $dark-blue;

    color: white;

    grid-template-areas: "locations" "signup" "follow";

    @include md{
        grid-template-columns: 30% auto auto;
    }
}