#gallery{

    display: grid;

    grid-template-columns: auto;

    grid-template-areas: "image1" "image2" "image3";

    @include sm{
        grid-template-columns: 1fr;
    }
    
    @include md{
        grid-template-columns: 50% 50%;
    }

    @include lg{
        grid-template-columns: 60% 40%;
    }

    @include xl{
        grid-template-columns: 70% 30%;
        
    }
}