#hero{

    display: grid;
    grid-template-columns: 1fr;
    
#section-1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "left1" "right1";

    #left1{
        background-color: $dark-blue;
        color: white;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            width: 10px;
        }
    }
    
    #right1{
        background-color: $light-blue;
        color: white;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            width: 10px;
        }
    }


    @include md{
        grid-template-columns: 30% 70%;
    }

    @include lg{
        grid-template-columns: 50% 50%;
    }

    @include xl{
        grid-template-columns: 50% 50%;
    }
}

#section-2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "left2" "right2";
    grid-gap: 16px;
    margin: 16px;

    #left2{
        background-color: $light-yellow;
        display: flex;
        padding: 16px;
        align-self: center;
        justify-content: space-between;

        button{
            background-color: $yellow;
            border: none;
        }

        img{
            width: 85px;
            height: 85px;
            border-radius: 100px;
        }
    }
    
    #right2{
        background-color: $light-yellow;
        display: flex;
        padding: 16px;
        align-self: center;
        justify-content: space-between;

        button{
            background-color: $yellow;
            border: none;
        }

        img{
            width: 85px;
            height: 85px;
            border-radius: 100px;
        }
    }


    @include md{
        grid-template-columns: 50% 50%;
    }

    @include lg{
        grid-template-columns: 50% 50%;
    }

    @include xl{
        grid-template-columns: 50% 50%;
    }
}
}