#whatsnew{

    display: grid;

    grid-template-columns: 1fr;

    margin-bottom: 16px;

    ul{
        margin: 0;
        padding: 0;
        display: grid;
        grid-gap: 8px;
        
    }

   .card{

    display: grid;

    grid-template-columns: 1fr;

    background-color: $light-yellow;

    width: 100%;

   }

   @include md{
    margin: 0, 40px;
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
    }
   }

   @include lg{
    margin: 0, 100px;
    ul{
        grid-template-columns: repeat (5, 1fr);
    }
   }

}